.env
venv/
faiss_index/
HF-CACHE/
__pycache__/

.env

.venv/

.DS_Store

data/

backup/

*.dump

docs/

.streamlit/secrets.toml

.env.compose
.env.tenancy

.streamlit/.config.toml
.streamlit/cloud-secrets.toml
.env.render
